1. Теперь поработаем с данными о поездках на такси в Нью-Йорке, где также имеется информация о погодных условиях и выходных днях.  

 - pickup_dt – период с точностью до часа
 - pickup_month – месяц
 - borough – район Нью-Йорка, из которого был сделан заказ (5 районов + аэропорт)
 - pickups – число поездок за период (час)
 - hday – является ли день праздничным/выходным; Y - да,  N - нет
 - spd – скорость ветра в милях в час
 - vsb – видимость
 - temp – температура в градусах Фаренгейта
 - dewp – точка росы по Фаренгейту
 - slp – давление
 - pcp_01 – количество осадков за час
 - pcp_06 – количество осадков за 6 часов
 - pcp_24 – количество осадков за 24 часа
 - sd – глубина снега в дюймах
Импортируйте библиотеку pandas, а затем загрузите датасет 2_taxi_nyc, находящийся здесь.    
Результат сохраните в переменную taxi.

In [1]:
import pandas as pd
file_path = 'https://stepik.org/media/attachments/lesson/360340/2_taxi_nyc.csv'
taxi = pd.read_csv(file_path)

2. Проверьте, сколько всего строк и столбцов имеется в датасете.

    - 26058 строк, 14 столбцов

    - **29101 строка, 14 столбцов**

    - 21715 строк, 14 столбцов

    - 21715 столбцов, 14 строк

In [2]:
taxi.shape

(29101, 14)

3. Давайте посмотрим на типы колонок. Все ли из них считались правильно? В качестве ответа выберите тип, преобладающий в датасете.

     - datetime64
     - int64
     - **float64**
     - object

In [3]:
taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29101 entries, 0 to 29100
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pickup_dt     29101 non-null  object
 1   pickup_month  29101 non-null  object
 2   borough       26058 non-null  object
 3   pickups       29101 non-null  int64
 4   hday          29101 non-null  object
 5   spd           29101 non-null  float64
 6   vsb           29101 non-null  float64
 7   temp          29101 non-null  float64
 8   dewp          29101 non-null  float64
 9   slp           29101 non-null  float64
 10  pcp 01        29101 non-null  float64
 11  pcp 06        29101 non-null  float64
 12  pcp 24        29101 non-null  float64
 13  sd            29101 non-null  float64
dtypes: float64(9), int64(1), object(4)
memory usage: 3.1+ MB

4. В названиях столбцов pcp 01, pcp 06, pcp 24 встречается пробел. Это не очень удобно, если в дальнейшем вы планируете обращаться к колонкам через точку, без использования кавычек и скобочек. 

Замените пробел в названиях на знак нижнего подчеркивания.

In [5]:
taxi = taxi.rename(columns = {'pcp 01': 'pcp_01', 'pcp 06': 'pcp_06','pcp 24': 'pcp_24'})
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

5. Вас попросили узнать, сколько записей (строк) в датафрейме относятся к району Манхэттен (Manhattan). Получить ответ на данный вопрос можно было бы, например, с помощью следующей команды:

taxi.query("borough == 'Manhattan'").shape[0]
А если мы хотим посмотреть, сколько раз встречается каждый из районов? Неужели придется использовать подобную конструкцию для каждого уровня переменной? Здесь на помощь приходит метод value_counts(), подробнее о котором можно почитать в конспекте! 

Сколько раз в данных встречается район Бруклин (Brooklyn)?

In [6]:
taxi.query("borough == 'Manhattan'").shape[0]

4343

6. Следующая задача: выяснить, из какого района было совершено наибольшее количество поездок за весь период. 

Для начала, посчитайте общее количество поездок (pickups), без группировки.

In [9]:
taxi.pickups.sum()

14265773

7. А теперь сгруппируйте данные по району (borough) и укажите, из какого пункта было совершено больше всего поездок.
    - Bronx
    - Brooklyn
    - Queens
    - Staten Island
    - **Manhattan**

In [11]:
taxi.groupby('borough').pickups.sum()

borough
Bronx              220047
Brooklyn          2321035
EWR                   105
Manhattan        10367841
Queens            1343528
Staten Island        6957
Name: pickups, dtype: int64

8. Еще несколько полезных методов в pandas! Возможно, в предыдущем степе вы просто посмотрели на данные или отсортировали значения. Ускорить данный процесс в дальнейшем помогут методы idxmin() и idxmax(), которые возвращают индекс минимального или максимального значения.

    - idxmin – индекс минимального значения
    - idxmax – индекс максимального значения
Сохраните название района с наименьшим числом поездок в переменную min_pickups, применив подходящий метод.

In [12]:
min_pickups = taxi.groupby('borough') \
.agg({'pickups': 'sum'}).idxmin() 

min_pickups

pickups    EWR
dtype: object

9. Продолжим изучение данных и посмотрим на число поездок в выходные дни. Сгруппируйте данные по двум признакам: району города и является ли день выходным (колонки borough и hday). Сравните среднее число поездок, и выберите районы, из которых по праздникам в среднем поступает больше заказов, чем в обычные дни. 
    - Staten Island
    - Manhattan
    - **EWR**
    - Bronx
    - Brooklyn

In [14]:
count_by_pickups = taxi.groupby(['borough', 'hday'], as_index=False) \
    .aggregate({'pickups': 'mean'}).sort_values('pickups', ascending=False)
count_by_pickups

          borough hday      pickups
6       Manhattan    N  2401.302921
7       Manhattan    Y  2035.928144
2        Brooklyn    N   534.727969
3        Brooklyn    Y   527.011976
9          Queens    Y   320.730539
8          Queens    N   308.899904
0           Bronx    N    50.771073
1           Bronx    Y    48.065868
10  Staten Island    N     1.606082
11  Staten Island    Y     1.497006
5             EWR    Y     0.041916
4             EWR    N     0.023467

10. Для каждого района посчитайте число поездок по месяцам.    
Отсортируйте полученные значения по убыванию и сохраните результирующий датафрейм в pickups_by_mon_bor.     
Обратите внимание, что итоговый датасет должен состоять из 3-х колонок – pickup_month, borough, pickups.

In [18]:
pickups_by_mon_bor = taxi.groupby(['pickup_month', 'borough'], as_index=False) \
    .aggregate({'pickups': 'sum'}).sort_values('pickups', ascending=False).reset_index()
pickups_by_mon_bor.head()

   index pickup_month    borough  pickups
0     21          Jun  Manhattan  1995388
1     33          May  Manhattan  1888800
2      9          Feb  Manhattan  1718571
3     27          Mar  Manhattan  1661261
4      3          Apr  Manhattan  1648278

11. Теперь задача посложнее! Попрактикуемся в написании собственных функций и их применении к датафрейму. Поскольку данные о поездках в Нью-Йорке, температура представлена в градусах Фаренгейта. 

Напишите функцию temp_to_celcius, которая получает на вход колонку с температурой в °F, и возвращает значения, переведенные в градусы Цельсия.

Формула:

 $$Celsius = \frac{(Fahrenheit-32) \cdot 5.0}{9.0}$$

In [19]:
def temp_to_celcius(temp):
    celsius = ((temp - 32 ) * 5.0)/9.0
    return celsius

print(temp_to_celcius(30))

-1.1111111111111112