В последнем дополнительном задании вам предстоит не проанализировать сами данные, а привести их в порядок!

Ваш друг из соседнего отдела прислал вам файл, 
где он собирал информацию о сделках с компаниями в течение нескольких месяцев. К
сожалению, друг был не особо аккуратен, и не знал, какой ужасный формат он выбрал... 
Ваша задача заключается в следующем: нужно собрать все данные в нормальный датафрэйм 
Данные находятся в файле tables.xlsx,  представлены набором таблиц в одном эксельном листе.
https://stepik.org/media/attachments/course/72204/tables.xlsx

Для очистки данных могут понадобиться `isna`, `loc`, `pd.concat`, `astype` и даже цикл с `try`.
А вообще задание не самое простое, да. 

Попробуйте вычленить из датафрэйма данные и объединить это в финальный датафрэйм

In [4]:
import pandas as pd
from collections import defaultdict
df  = pd.read_excel('https://stepik.org/media/attachments/course/72204/tables.xlsx').fillna(0)

In [7]:
tt = df.T.reset_index().values.tolist()
list_excel = list()
for row in tt:
    for elem in row:
        if( elem != 0):
            list_excel.append(elem)
del list_excel[0]

d = defaultdict(list)
key = 'company41'
for i in list_excel:
    if type(i) == int:
        d[key].append(i)
    else:
        key = i
final_table = pd.DataFrame.from_dict(d, orient='index').transpose().fillna(0)
final_table.head()

   company41  company51  company50  company76  company47  company27  company48
0       16.0      151.0      217.0      144.0      993.0      633.0      747.0
1      819.0       43.0      660.0      220.0      312.0      936.0      983.0
2      227.0      783.0      589.0      566.0      516.0      782.0      736.0
3      625.0      858.0      228.0       74.0      832.0      197.0      116.0
4      580.0      198.0      968.0      575.0      788.0      554.0      479.0

In [8]:
final_table.company41.sum()

14918.0